<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
    <title>Acquaintance with Vue.js</title>
</head>
<body>

<div class="container pt-5" id="app">
    <div class="row mb-3">
        <div class="col">
            <h1>Cars</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="search">Find your car</label>
                <input type="text" class="form-control" id="search" placeholder="Name, model.."
                       v-model="search"
                >

                <hr>

                <ul class="list-group">
                    <li
                        v-for="(car, index) in filteredCars"
                        class="list-group-item list-group-item-action pointer"
                        @click="selectCar(index)"
                        :class="{'active': carIndex === index}"
                    >{{ car.name }} - {{ car.model }}</li>
                </ul>
            </div>
        </div>

        <div class="col-md-8">
            <div class="row">
                <div class="col-md-5">
                    <h2>{{ car.name }}</h2>
                    <img class="detail-car-image" :src="car.image" :alt="car.name">
                </div>
                <div class="col-md-7">
                    <h5>Car details</h5>
                    <ul>
                        <li>Model - <strong>{{ car.model }}</strong></li>
                        <li>Year - <strong>{{ car.year }}</strong></li>
                        <li>Owner - <strong>{{ car.owner }}</strong></li>
                    </ul>
                    <div class="phone-block">
                        <transition name="phone">
                            <p v-if="phoneVisibility">{{ car.phone }}</p>
                        </transition>
                    </div>
                    <button class="btn btn-outline-success"
                            @click="phoneVisibility = !phoneVisibility"
                            v-text="phoneBtnText"
                    ></button>
                    <button class="btn btn-primary"
                            @click="modalVisibility = true"
                    >Buy</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row pt-3" v-if="logs.length > 0">
        <div class="col-md-12">
            <ul class="list-group">
                <li class="list-group-item list-group-item-secondary"
                    v-for="log in logs"
                    :class="{
                        'list-group-item-secondary': log.type == 'cnl',
                        'list-group-item-success': log.type == 'ok'
                    }"
                >{{ log.date | date}} {{ log.text }}</li>
            </ul>
        </div>
    </div>

    <transition name="modal">
        <div class="modal fade show" tabindex="-1" v-if="modalVisibility" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Do you want this car?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                            @click="modalVisibility = false"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p><strong>Current car - {{ car.name }}</strong></p>

                    <ul>
                        <li>Model - <strong>{{ car.model }}</strong></li>
                        <li>Year - <strong>{{ car.year }}</strong></li>
                        <li>Owner - <strong>{{ car.owner }}</strong></li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"
                            @click="newOrder"
                    >Buy</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            @click="cancelOrder"
                    >Cancel</button>
                </div>
            </div>
        </div>
    </div>
    </transition>
    <transition name="fade">
        <div class="modal-backdrop fade show" v-if="modalVisibility"></div>
    </transition>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="js/app.js"></script>
</body>
</html>